
.wave { 
  background: url('sprite_min_x3.png') left center;
  width: 300px;
  height: 250px;
  animation: play 3s steps(37) infinite;
} 

@keyframes play {
  100% {
    background-position: -11100px;
  }
}
